
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header-logo {
    background-color: #74c0fc;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.header-logo ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-logo ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

.header-logo h1 {
    font-size: 2em;
    margin: 10px 0;
}

.header-logo p {
    font-size: 1.2em;
}

.header-logo button {
    background-color: #fff;
    color: #74c0fc;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.Deserts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

.Dish {
    text-align: center;
    margin: 20px;
    position: relative;
}

.Dish img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.Dish img:hover {
    transform: scale(1.1);
}

.Menu {
    text-align: center;
    margin: 40px 0;
}

.Menu h1 {
    color: #74c0fc;
    font-size: 2em;
}

.Dish h4 {
    color: #333;
}

.Dish p {
    color: #666;
}

.Dish h3 {
    color: #74c0fc;
    font-size: 1.2em;
}

.Menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Menu ul li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #000000;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

